@import '../../constants.scss';

.container {
  width: 90vw;
  margin: 0 auto;
  padding: 4rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem 5rem;
}

.container::before {
  content: "";
  width: 100%;
  border-bottom: solid 1px white;
}

.iconWrapper {
  padding: 10px;
  text-align: center;
  line-height: 2em;
}

.icon {
  width: 3em;
  height: 3em;
  display: block;
}

@media (max-width: $sm-width) {
  .container{
    gap: 2rem 1rem;
  }

  .iconWrapper{
    line-height: 1em;
  }

  .icon{
    width: 2em;
    height: 2em;
  }
}