@import '../../constants.scss';

.contact-content-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
}

.contact-content {
  width: 60%;
  margin: 0 auto;
  min-height: 65vh;
  padding-top: 50px;

  p {
    text-align: justify;
  }
  // color: $secondary-bg-color;
  &-media {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &-section {
      height: 50px;
      line-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 10px;
      a {
        height: 30px;
        line-height: 30px;
        &:hover {
          color: $secondary-accent-color;
        }
      }
    }

    &-icon {
      width: 20px;
      height: 20px;
      &:hover {
        color: $secondary-accent-color;
      }
    }
  }
}

@media (max-width: $sm-width) {
  .contact-content-media-section {
    font-size: 14px;
  }
}
