@import '../../constants.scss';
.home_container {
    height: 100vh;
}

.content-wrapper {
    margin: 0 auto;
    width: 90vw;
}

.child {
    width: 60vw;
    min-height: 80vh;
    margin: 0 auto 3rem auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-image {
        margin: 3rem auto;
        img {
            width: 40rem;
            border-radius: 2rem;
        }
    }

    &-content{
        
        display: flex;
        padding: 0 3rem;
        font-size: 3em;

        span {
            text-align: left;
        }

        .variable-text {
            font-weight: 600;
            color:rgb(118, 208, 208);
        }
    }
}

.variable-content::before {
    content: "";
    height: 100px;
    width: 400px;
    background-color: $color;
    border-left: 2px solid greenyellow;
}

.variable-content {
    display: inline-block;
}



@media (max-width: $lg-width) {
    .child{
        width: 100%;
        &-image {
            margin: 3rem auto;
            img {
                width: 30rem;
                border-radius: 1.5rem;
            }
        }
    }

    
}

@media (max-width: $sm-width){
    .child{
        &-image {
            margin: 3rem auto;
            img {
                width: 20rem;
                border-radius: 1rem;
            }
        }
        &-content{
            font-size: 1em;
        }
        
    }    
}