@import '../../constants.scss';
.home_container {
    // width: 100vw;
    height: 100vh;
}

.content-wrapper {
    margin: 0 auto;
    width: 90vw;
}

// @media (min-width: $xs-width) {
//     .content-wrapper {
//         .child {
//             padding-left: 10px;
//         }
//     }
// }