$xs-width: 360px;
$sm-width: 768px;
$md-width: 1024px;
$lg-width: 1200px;

$bg-color: #242424;
$secondary-bg-color: #494646;
$color: rgba(255, 255, 255, 0.848);
$secondary-color: #e5e5e5;
$accent-color: rgb(118, 208, 208);
$dark-accent-color: #14213d;
$secondary-accent-color: #fca311;
